.form{
    display: flex;
    flex-direction: column;

    & > :not(:last-child){
        margin-bottom: 1rem;
        padding: 1.2rem;
        border: 1px solid #cacccd;
        font-size: 1.8rem;
        font-weight: 300;

        &:focus{
            outline:1px solid #1C88BF;
        }
    }

    &__submit{
        padding:1.2rem;
        background-color: #1C88BF;
        border:none;
        line-height: 1;
        color:#fff;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    &__remove{
        padding: 1.2rem;
        background-color: #888888;
        border:none;
        line-height: 1;
        color:#fff;
        font-size: 1.8rem;
    }
}